body {
    background-image: url("../images/mo.png");
    background-repeat: no-repeat;
    /* background-attachment: fixed; */
    -webkit-background-size:cover;
    -moz-background-size:cover;
    -o-background-size:cover;
    background-size:cover;
    /* background-position:center; */
    font-family: 'Orbitron', sans-serif;
    }

    .container{
        padding: 300px 0 200px 0;
    } 


    #display {
        font-family: monospace;
        font-size: 35px;
        color: green;
      
        /* Typography */
        text-align: center;
        margin-bottom: 70px;
        margin-top: 150px;
        background-color: rgba(201, 76, 76, 0.1);
        
      }


      #results{
        font-family: monospace;
        font-size: 35px;
      
        /* Typography */
        text-align: center;
        margin-bottom: 70px;
        margin-top: 150px;
        background-color: rgba(201, 76, 76, 0.1);


      }